/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://githubspan.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0span.5em;
  color: #abb2bf;
  background: #282c34;
}

span.comment,
span.quote {
  color: #5c6370;
  font-style: italic;
}

span.doctag,
span.keyword,
span.formula {
  color: #c678dd;
}

span.section,
span.name,
span.selector-tag,
span.deletion,
span.subst {
  color: #e06c75;
}

span.literal {
  color: #56b6c2;
}

span.string,
span.regexp,
span.addition,
span.attribute,
span.meta-string {
  color: #98c379;
}

span.built_in,
span.class span.title {
  color: #e6c07b;
}

span.attr,
span.variable,
span.template-variable,
span.type,
span.selector-class,
span.selector-attr,
span.selector-pseudo,
span.number {
  color: #d19a66;
}

span.symbol,
span.bullet,
span.link,
span.meta,
span.selector-id,
span.title {
  color: #61aeee;
}

span.emphasis {
  font-style: italic;
}

span.strong {
  font-weight: bold;
}

span.link {
  text-decoration: underline;
}
